:root {
  --primary-text-color: #757575;
  --second-text-color: #212121;
  --title-text-color: #2196f3;
  --white-color: #ffffff;
  --studio-color: #000000;
  --background-color-hero-roof: #2f303a;
  --background-color-team: #f5f4fa;
  --mail-tel-cololr: rgba(117, 117, 117, 1);
  --list-color: rgba(255, 255, 255, 0.6);
  --backgroun-color-button: #f5f4fa;
  --line-color-header: rgba(236, 236, 236, 1);
  --border-color-portfolio: #eeeeee;
  --shadov-color-team: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --set-line-px: 30px;
  --gradient-hero: rgba(47, 48, 58, 0.4);
  --background-hero: rgba(196, 196, 196, 1);
}

/* utilite */

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: var(--white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

.page-header {
  border-bottom: 1px solid var(--line-color-header);
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.container-hero {
  width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.logo {
  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.studio {
  color: var(--studio-color);
}

.studiowhite {
  color: var(--white-color);
}

/* main-nav */

.main-nav {
  display: flex;
  align-items: center;
}

/* nav */

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--second-text-color);
  font-weight: 500;
  line-height: 1.2;
  text-decoration: none;
}

.link-item {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  color: var(--primary-text-color);
}

.link-item :hover,
.link-item :focus {
  color: var(--title-text-color);
}

.site-nav :hover,
.site-nav :focus {
  color: var(--title-text-color);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--title-text-color);
}
.contact-link {
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--mail-tel-cololr);
  text-decoration: none;
  font-weight: 500;
}

.site-nav .link.current {
  color: var(--title-text-color);
}

/* auth-nav */

.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav .item + .item {
  margin-left: 50px;
}

/* Hero */

.hero {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  height: 600px;
  text-align: center;
  background: var(--background-hero);
  background-image: linear-gradient(var(--gradient-hero), var(--gradient-hero)),
    url(../images/imgbackgroundhero.jpg);
  padding: 200px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.35;
  color: var(--white-color);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin: 0 auto 30px;
}

/* advantges */

.project-section {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-text-color);
  margin-bottom: 10px;
  margin-top: 0;
}

.feature-title {
  line-height: 1.71;
  color: var(--primary-text-color);
  margin-top: 0;
  margin-bottom: 0;
  min-width: 270px;
}

.advantges-item {
  display: flex;
  gap: 30px;
  flex-basis: calc((100% - 90px) / 4);
}

.advantges {
  padding-bottom: 0;
}

/* work */

.section-work-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  margin-top: 0px;
  margin-bottom: 50px;
}

.work-title-list {
  display: flex;
  gap: 30px;
  flex-basis: calc((100%-60) / 3);
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

/* personals */

.section-team-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  margin-top: 0;
  margin-bottom: 50px;
}

.team {
  color: var(--second-text-color);
  font-size: 36px;
  line-height: 1.17;
  background-color: var(--background-color-team);
  padding-top: 186px;
}

.team-thumb {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--second-text-color);
  margin-bottom: 0;
  margin-top: 0;
  margin-bottom: 10px;
}

.team-discription {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 0;
  margin-top: 0;
}

.team-position {
  background-color: var(--white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: var(--shadov-color-team);
}

.contact-list {
  color: var(--title-text-color);
}

.section-team {
  display: flex;
  gap: 30px;
  flex-basis: calc((100%-90px) / 4);
}

/* footer */

.footer {
  background-color: var(--background-color-hero-roof);
  padding: 60px 0;
}

.roof-addres {
  margin-top: 20px;
  margin-bottom: 9px;
}

.address {
  font-style: normal;
  line-height: 1.71;
  color: var(--white-color);
  text-decoration: none;
}

.contacts {
  color: var(--list-color);
  text-decoration: none;
}
.contact-list .contacts:hover,
.contact-list .contacts:focus {
  color: var(--title-text-color);
}

.contact-list {
  margin-top: 9px;
}

/* portfolio */

.project-image {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-text-color);
  margin-bottom: 4px;
  margin-top: 0;
}

.project-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
  margin-bottom: 0;
  margin-top: 0;
}

.batton-projects {
  display: flex;
  justify-content: center;
  gap: 8px;
  flex-basis: calc((100%-32px) / 5);
  margin-bottom: 50px;
}

/* card */

.card-set {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--set-line-px));
  margin-left: calc(-1 * var(--set-line-px));
}

.card-set > .items {
  flex-basis: calc(100% / 3 - var(--set-line-px));
  margin-left: var(--set-line-px);
  margin-top: var(--set-line-px);
}

.card-thumb {
  border: 1px solid var(--border-color-portfolio);
  border-top: none;
  padding: 20px 24px;
}

/* buttons */

.button {
  font-family: roboto;
  font-weight: 700;
  letter-spacing: 0.06em;
  font-size: 16px;
  line-height: 1.88;
  display: inline-block;
  background-color: var(--title-text-color);
  cursor: pointer;
  border-radius: 4px;
  min-width: 216px;
  padding: 10px 32px;
  border: 1px solid transparent;
  color: var(--white-color);
}

.button-secondary {
  display: inline-block;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: var(--second-text-color);
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  background: var(--backgroun-color-button);
  padding: 6px 22px;
}

.buttom-all {
  display: inline-block;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: var(--white-color);
  background-color: var(--title-text-color);
  cursor: pointer;
  border: 0em;
  border-radius: 4px;
  padding: 6px 25px;
}

.button-secondary:hover,
.button-secondary:focus {
  background-color: var(--title-text-color);
  color: var(--white-color);
}
